[submodule "vim-config"]
	path = .vim
	url = https://github.com/bstaletic/vim-config
[submodule ".vim"]
	path = .vim
	url = https://github.com/bstaletic/vim-config
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
